{% if items|length > 0 %}

<div data-widget-wrapper>
    <div class="items_list_listing swiper-container" data-listing-wrapper>

        {% for item in items %}

            <div class="room_card_wrapper">

                <div class="room_card" data-listing-list>

                    <h2>{{item.name}}</h2>

                    <div class="room_card_content">
                        <p>Вместимость&nbsp;на&nbsp;банкет:<br>до&nbsp;<span>{{item.capacity}}&nbsp;персон</span></p>
                        <p>на&nbsp;фуршет:<br>до&nbsp;<span>{{item.capacity_reception}}&nbsp;персон</span></p>
                        <p>Стоимость&nbsp;на&nbsp;человека:<br>от&nbsp;<span>{{item.price}}&nbsp;₽</span></p>
                        <p>аренды&nbsp;зала:<br>от&nbsp;<span>{{item.price}}&nbsp;₽</span></p>
                    </div>

                    <a class="_link" href="#">Свободные даты</a>

                    <div class="calendar"></div>

                </div>    

                <div class="object_gallery _room">

                    <div class="object_gallery_main _room">
                        <img src="{{item.cover_url}}" alt="{{img_alt | replace({"{название}" : item.name})}}"/>
                    </div>

                    <div class="object_gallery_other _room">
                        <img src="{{item.cover_url}}" alt="{{img_alt | replace({"{название}" : item.name})}}"/>
                        <img src="{{item.cover_url}}" alt="{{img_alt | replace({"{название}" : item.name})}}"/>
                        <img src="{{item.cover_url}}" alt="{{img_alt | replace({"{название}" : item.name})}}"/>
                        <img src="{{item.cover_url}}" alt="{{img_alt | replace({"{название}" : item.name})}}"/>
                        <img src="{{item.cover_url}}" alt="{{img_alt | replace({"{название}" : item.name})}}"/>
                    </div>

                </div>  

            </div>        
            
        {% endfor %}
    </div>
</div>

{% endif %}