<div class="restaurant_adv_wrapper">
  <div class="item_page_wrapper">

    <div class="content_block" data-listing-title>
      
      <div class="title">

  	    <h2>{{item.restaurant_name}}</h2>

  	    <div class="title_address"><a data-title-address>{{item.restaurant_address}}</a></div>

      </div>

    </div>

    <div class="content_block">

      <div class="object_head">

        <div class="object_gallery post_item_gallery_wrap" data-gallery data-id="{{item.restaurant_id}}">

          <div class="swiper-container post-item-gallery-top">

            <div class="swiper-wrapper">
              {% for image in item.restaurant_images %}
                  <div class="swiper-slide" style="background-image:url({{image.subpath}}=w710-h472-n-l95)"></div>
              {% endfor %}

            </div>

          </div>

          <div class="swiper-container post-item-gallery-thumbs">

            <div class="swiper-wrapper">
              {% for image in item.restaurant_images %}
                  <div class="swiper-slide" style="background-image:url({{image.subpath}}=w138-h92-n-l95)"></div>
              {% endfor %}

            </div>

          </div>

        </div>

        <div class="object_main_info">
          <p>Стоимость: от <span>{{item.restaurant_price}} ₽/чел.</span></p>
          <p>Вместимость: до <span>{{item.restaurant_max_capacity}} персон</span></p>

        </div>

        <div class="object_book">

          <p class="object_book_text">Узнать об актуальных акциях и забронировать можно по телефону:</p>

          <div class="object_book_hidden">
                    <p class="object_book_phone">
                        <span class="object_fake_phone">+7 <span class="object_fake_phone_snowflakes">❆❆❆ ❆❆❆ ❆❆ ❆❆</span></span>
                        <a href="tel:{{item.restaurant_phone}}" class="object_real_phone">{{item.restaurant_phone}}</a>
                    </p>

                    <div class="object_book_hidden_button _link" data-action="show_phone">Показать номер</div>                          
                </div>
                <div class="object_book_email">
                    <div class="object_book_email_text" data-book-open>
                        <p class="_pseudolink">Отправить инфо о ресторане себе на эл. почту</p>
                    </div>
                    <div class="object_book_email_form">
                        <form class="form_block" action="/ajax/sendroom/" data-type="book">
                            <div class="form_inputs">
                                <div class="input_wrapper">
                                    <input type="email" name="book_email" data-book-email-id="{{item.id}}">
                                    <input type="hidden" name="room_id" value="{{item.id}}">
                                </div>
                            </div>
                            <input type="submit" class="object_book_email_button _button" value="Отправить"/>
                        </form>
                    </div>
                    <div class="object_book_email_success">
                        <p class="object_book_email_success_text">Мы отправили информацию на почту</p>
                        <p class="object_book_email_success_reload _pseudolink" data-book-email-reload>Отправить еще раз</p>
                    </div>
                </div>

          <p class="object_book_action">Забронируй зал в ресторане {{item.restaurant_name}} до 01.12.2020 и получи новогодний подарок!</p>

        </div>

        <a class="object_more_info" href="/ploshhadki/{{item.id}}/">

          <button class="_button">Посмотреть зал →</button>

        </a>

      </div>

    </div>

  </div>
</div>