<div class="item_page_wrapper" data-page-type="item">

  {{ microdata | raw }}

    <div class="content_block" data-listing-title>
        {{ this.render('//components/generic/item_title.twig', {'seo':seo}) | raw }}
    </div>

    <div class="content_block" data-page-type="item">
        <div class="object_head">

            <div class="object_gallery" data-gallery data-id="{{item.restaurant_id}}">

                <div class="swiper-container gallery-top">

                    <div class="swiper-wrapper">
                        {% for image in item.restaurant_images %}
                            <div class="swiper-slide">
                                <a href="{{image.waterpath}}=s0" data-lightbox="top_slider"><img src="{{image.subpath}}=w710-h472-n-l95" alt="Фото №{{loop.index}} зала {{item.restaurant_name}}"/></a>
                            </div>
                        {% endfor %}
                    </div>

                </div>

                <div class="swiper-container gallery-thumbs">

                    <div class="swiper-wrapper">
                        {% for image in item.restaurant_images %}
                            <div class="swiper-slide object_thumb">
                                <img src="{{image.subpath}}=w138-h92-n-l95" alt="Фото №{{loop.index}} зала {{item.restaurant_name}}"/>
                            </div>
                        {% endfor %}
                    </div>

                </div>


            </div>

            <div class="object_tags">
                {% for type in item.restaurant_types %}
                    {% if type.id == 1 %}
                        <a class="_link" href="/ploshhadki/restorany/">{{type.name}}</a>
                    {% endif %}
                    {% if type.id == 2 %}
                        <a class="_link" href="/ploshhadki/banketnye-zaly/">{{type.name}}</a>
                    {% endif %}
                    {% if type.id == 3 %}
                        <a class="_link" href="/ploshhadki/kafe/">{{type.name}}</a>
                    {% endif %}
                    {% if type.id == 4 %}
                        <a class="_link" href="/ploshhadki/bary/">{{type.name}}</a>
                    {% endif %}
                    {% if type.id == 16 %}
                        <a class="_link" href="/ploshhadki/kluby/">{{type.name}}</a>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="object_book">
                <p class="object_book_text">Узнать об актуальных акциях и забронировать можно по телефону:</p>
                <div class="object_book_hidden">
                    <p class="object_book_phone">
                        <span class="object_fake_phone">+7 <span class="object_fake_phone_snowflakes">❆❆❆ ❆❆❆ ❆❆ ❆❆</span></span>
                        <a href="tel:{{item.restaurant_phone}}" class="object_real_phone">{{item.restaurant_phone}}</a>
                    </p>

                    <div class="object_book_hidden_button _link" data-action="show_phone">Показать номер</div>                          
                </div>
                <div class="object_book_email">
                    <div class="object_book_email_text" data-book-open>
                        <p class="_pseudolink">Отправить инфо о ресторане себе на эл. почту</p>
                    </div>
                    <div class="object_book_email_form">
                        <form class="form_block" action="/ajax/sendroom/" data-type="book">
                            <div class="form_inputs">
                                <div class="input_wrapper">
                                    <input type="email" name="book_email" data-book-email-id="{{item.id}}">
                                    <input type="hidden" name="room_id" value="{{item.id}}">
                                </div>
                            </div>
                            <input type="submit" class="object_book_email_button _button" value="Отправить"/>
                        </form>
                    </div>
                    <div class="object_book_email_success">
                        <p class="object_book_email_success_text">Мы отправили информацию на почту</p>
                        <p class="object_book_email_success_reload _pseudolink" data-book-email-reload>Отправить еще раз</p>
                    </div>
                </div>

                {% if 'now'|date('m') != 12 %}
                    <p class="object_book_action">Забронируй зал в ресторане {{item.restaurant_name}} до 01.12.{{ 'now'|date('Y') }} и получи новогодний подарок!</p>
                {% endif %}

            </div>

            <div class="object_parameters">

                {{ this.render('//components/generic/item_parameter_list.twig', {'item':item, 'restaurantSpec':restaurantSpec}) | raw }}
                
            </div>

        </div>
    </div>

    {% if item.restaurant_text %}
        <div class="content_block" data-item-text-top>
            <div class="seo_text" data-seo-text data-seo-text-item>
                {{item.restaurant_text}}
                <div class="seo_text_control" data-seo-control>
                    <p class="_link">Показать полностью</p>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="map">
        <div id="map" data-mapDotX="{{item.restaurant_latitude}}" data-mapDotY="{{item.restaurant_longitude}}" data-name="{{item.restaurant_name}}" data-address="{{item.restaurant_address}}" data-balloon="" data-hint="">
        </div>
    </div>

    {{ this.render('//components/generic/other_widjet.twig', {'items':other_rooms, 'restaurant_name':item.restaurant_name}) | raw }}

    <div class="content_block form_booking_wrapper">

        {{ this.render('//components/generic/form_booking.twig', {'items':other_rooms, 'venue_id':item.restaurant_gorko_id}) | raw }}

    </div>

</div>