<div class="item_page_wrapper" data-page-type="item">

    <div class="content_block" data-listing-title>
        {{ this.render('//components/generic/item_title.twig', {'seo':seo}) | raw }}
    </div>

    <div class="content_block" data-page-type="item">
        <div class="object_head">

            <div class="object_gallery" data-gallery data-id="{{item.restaurant_id}}">
                <div class="object_gallery_main" data-bigimg-wrapper>
                    <img src="{{ item.restaurant_cover_url|replace({'w445-h302-n-l95': 'w710-h472-n-l95'}) }}"/>
                </div>

                <div class="object_gallery_other">
                    <img name="1" src="{{ item.restaurant_cover_url|replace({'w445-h302-n-l95': 'w710-h472-n-l95'}) }}"/>
                    <img name="2" src="{{ item.restaurant_cover_url|replace({'w445-h302-n-l95': 'w710-h472-n-l95'}) }}"/>
                    <img name="3" src="{{ item.restaurant_cover_url|replace({'w445-h302-n-l95': 'w710-h472-n-l95'}) }}"/>
                    <img name="4" src="{{ item.restaurant_cover_url|replace({'w445-h302-n-l95': 'w710-h472-n-l95'}) }}"/>
                    <img name="5" src="{{ item.restaurant_cover_url|replace({'w445-h302-n-l95': 'w710-h472-n-l95'}) }}"/>
                    <img name="6" src="{{ item.restaurant_cover_url|replace({'w445-h302-n-l95': 'w710-h472-n-l95'}) }}"/>
                    <img name="7" src="{{ item.restaurant_cover_url|replace({'w445-h302-n-l95': 'w710-h472-n-l95'}) }}"/>
                    <img name="8" src="{{ item.restaurant_cover_url|replace({'w445-h302-n-l95': 'w710-h472-n-l95'}) }}"/>
                    <img name="9" src="{{ item.restaurant_cover_url|replace({'w445-h302-n-l95': 'w710-h472-n-l95'}) }}"/>
                </div>
            </div>

            <div class="object_tags">
                <a class="_link" href="#">Рестораны</a>
                <a class="_link" href="#">Кафе</a>
                <a class="_link" href="#">Банкетные&nbsp;залы</a>
                <a class="_link" href="#">За&nbsp;городом</a>
            </div>

            <div class="object_book">
                <p class="object_book_text">Узнать об актуальных акциях и забронировать можно по телефону:</p>
                <div class="object_book_hidden">
                    <p class="object_book_phone">
                        <span class="object_fake_phone">+7 <span class="object_fake_phone_snowflakes">❆❆❆ ❆❆❆ ❆❆ ❆❆</span></span>
                        <a href="tel:{{item.restaurant_phone}}" class="object_real_phone">{{item.restaurant_phone}}</a>
                    </p>
                    <div class="object_book_hidden_button" data-action="show_phone">Показать номер</div>
                </div>
                <p class="object_book_action">Забронируй зал в ресторане {{item.restaurant_name}} до 01.12.2020 и получи новогодний подарок!</p>
            </div>

            <div class="object_parameters">

                <div class="object_parameters_list _marked">
                    <p class="object_parameters_title">О площадке</p>
                    <p class="object_parameters_item">Ресторан</p>
                    <p class="object_parameters_item">Расположение за городом</p>
                    <p class="object_parameters_item">Русская, европейская кухня</p>
                    <p class="object_parameters_item">Алкоголь в наличии</p>
                </div>

                <div class="object_parameters_list">
                    <p class="object_parameters_title">Залы</p>
                    <p class="object_parameters_item">4 помещения: 8, 40, 60, 70 человек</p>
                </div>

                <div class="object_parameters_list _marked">
                    <p class="object_parameters_title">Разрешены</p>
                    <p class="object_parameters_item">Свой алкоголь</p>
                    <p class="object_parameters_item">Запуск фейерверка</p>
                </div>

                <div class="object_parameters_list _marked _big_list">
                    <p class="object_parameters_title">За дополнительную плату</p>
                    <div class="object_parameters_items">
                        <p class="object_parameters_item">Фотограф</p>
                        <p class="object_parameters_item">Видеограф</p>
                        <p class="object_parameters_item">Торт</p>
                        <p class="object_parameters_item">DJ</p>
                        <p class="object_parameters_item">Фейерверк</p>
                        <p class="object_parameters_item">Живая музыка</p>
                        <p class="object_parameters_item">Ведущий</p>
                        <p class="object_parameters_item">Оформление</p>
                    </div>
                </div>

                <div class="object_parameters_list">
                    <p class="object_parameters_title">Оплата</p>
                    <p class="object_parameters_item">Наличными, банковской картой или безналичным способом</p>
                </div>
                
            </div>

        </div>
    </div>

    <div class="map">
        <div id="map" data-mapDotX="{{item.restaurant_latitude}}" data-mapDotY="{{item.restaurant_longitude}}" data-name="{{item.restaurant_name}}" data-address="{{item.restaurant_address}}" data-balloon="" data-hint="">
        </div>
    </div>

    {{ this.render('//components/generic/other_widjet.twig', {'items':other_rooms, 'restaurant_name':item.restaurant_name}) | raw }}

    <div class="content_block form_booking_wrapper">

        {{ this.render('//components/generic/form_booking.twig', {'items':other_rooms}) | raw }}

    </div>

</div>

<script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>