{{ use('yii/widgets/Pjax') }}
{{ use('yii/widgets/ListView') }}

<div data-page-type="blog">

	<div class="content_block items_list_blog" data-blog-wrapper>
		
		{{ this.render('//components/generic/breadcrumbs.twig', {'breadcrumbs':seo.breadcrumbs}) | raw }}
		<h1>{{seo.h1}}</h1>

		<div class="items_list" data-blog-list>

			{{  pjax_begin({'id' : 'blog-listing','enablePushState':false}) }}
			{{  list_view_widget(listConfig) }}
			{{  pjax_end()  }}

		</div>

	</div>

</div>