<div data-page-type="post"  data-cookie-city-name="{{subdomen.alias}}" data-cookie-subdomain="{{cookie_subdomain}}">

	{{ this.render('//components/generic/breadcrumbs.twig', {'breadcrumbs':seo.breadcrumbs}) | raw }}

  	<div class="post_wrapper">

  		<h1>{{ post.name}}</h1>

  		<figure>
		    <img src="{{ post.getFileData('image').src}}" alt="">
		</figure>

		{# {{ post.getHtml()|raw}} #}
		{{ preview ? post.getBodyHtml()|raw : post.getHtml([1])|raw }}
	</div>
</div>

